// Css reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom properties */
$base-color: #3d77e3;

body {
  // <weight>: Use a value from 200 to 700
  font-family: 'open-sans', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
}